html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-weight: 900;
  font-size: 1.6rem;
  box-sizing: border-box;
}
::placeholder {
  letter-spacing: 0.2rem;
  text-decoration: line-through;
  text-transform: uppercase;
}
  