.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 4rem;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input {
  height: 100%;
  padding: 2rem 3rem;
  width: 25%;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: black;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.55);
}

.input_element {
  height: 10rem;
  text-align: center;
}

.input_element--input {
  width: 100%;
  height: 3rem;
  text-align: center;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: black;
}

.input_element--input:focus {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 255, 0.55);
}

.input_color {
  width: 17rem;
  height: 10rem;
  text-align: center;
}

.input_color--input {
  width: 100%;
  height: 3rem;
  text-align: center;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: black;
}

.input_color--input:focus {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 255, 0.55);
}

.input_width {
  height: 10rem;
  text-align: center;
}

.input_width--input {
  width: 100%;
  height: 3rem;
  text-align: center;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: black;
}

.input_width--input:focus {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 255, 0.55);
}

.input_height {
  height: 10rem;
  text-align: center;
}

.input_height--input {
  width: 100%;
  height: 3rem;
  text-align: center;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: black;
}

.input_height--input:focus {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 255, 0.55);
}

.btn {
  position: relative;
  color: black;
  text-decoration: none;
  padding: 2rem 6rem;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: blue;
}

.btn::after {
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  position: absolute;
  background-color: blue;
  transition: all 0.2s;
  z-index: -1;
}

.btn:hover::after {
  width: 100%;
  left: 0%;
}

.btn-return {
  position: relative;
  color: black;
  text-decoration: none;
  padding: 2rem 6rem;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: blue;
}

.btn-return::after {
  content: "";
  top: 0;
  right: 0%;
  height: 100%;
  width: 0;
  position: absolute;
  background-color: blue;
  transition: all 0.2s;
  z-index: -1;
}

.btn-return:hover::after {
  width: 100%;
  left: 0%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.black {
  color: #fff !important;
  background-color: black;
}

.bisque {
  background-color: bisque;
}

.gray {
  background-color: gray;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

.generated {
  height: 100%;
  padding: 2rem 3rem;
  width: 25%;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: black;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.55);
}

@media only screen and (max-width: 990px) {
  .input {
    width: 80%;
  }
  .generated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 80%;
  }
  .container {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-weight: 900;
  font-size: 1.6rem;
  box-sizing: border-box;
}

::placeholder {
  letter-spacing: 0.2rem;
  text-decoration: line-through;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
